
<div class="row mt-3">
    <div class="col-6 d-flex justify-content-end">
        <app-diente *ngFor="let item of grupos[0]" [diente]="item" (click)="abrirModal(item)" ></app-diente>
    </div>
    <div class="col-6">
        <app-diente *ngFor="let item of grupos[2]" [diente]="item" (click)="abrirModal(item)"  ></app-diente>
    </div>
</div>

<div class="row">
    <div class="col-6 d-flex justify-content-end">
        <app-diente *ngFor="let item of grupos[1]" [diente]="item" (click)="abrirModal(item)"  ></app-diente>
    </div>
    <div class="col-6">
        <app-diente *ngFor="let item of grupos[3]" [diente]="item" (click)="abrirModal(item)"  ></app-diente>
    </div>
</div>

<hr>


<div class="row">
    <div class="col-6 d-flex justify-content-end ">
        <app-diente *ngFor="let item of grupos[4]" [diente]="item" (click)="abrirModal(item)"  ></app-diente>
    </div>
    <div class="col-6">
        <app-diente *ngFor="let item of grupos[6]" [diente]="item" (click)="abrirModal(item)"  ></app-diente>
    </div>
</div>

<div class="row">
    <div class="col-6  d-flex justify-content-end">
        <app-diente *ngFor="let item of grupos[5]" [diente]="item" (click)="abrirModal(item)"  ></app-diente>
    </div>
    <div class="col-6">
        <app-diente *ngFor="let item of grupos[7]" [diente]="item" (click)="abrirModal(item)"  ></app-diente>
    </div>
</div>

