<table class="table odonto-table">
    <tbody>
        <tr>
            <td class="text-center">
                
                {{ grupos[0] | json }}
                {{ grupos[1] | json }}
            </td>
            <td class="text-center">
                {{ grupos[2] | json }}
                {{ grupos[3] | json }}
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{ grupos[4] | json }}
                {{ grupos[5] | json }}
            </td>
            <td class="text-center">
                {{ grupos[6] | json }}
                {{ grupos[7] | json }}
            </td>
        </tr>
    </tbody>
</table>