<form (ngSubmit)="onSubmit(f)" #f="ngForm" >
  <div class="modal-body">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Crear Cita</h4>
                    <p class="card-category">Formulario para administración de citas</p>
                </div>
                <div class="card-body">
                  
                        <div class="row">

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input 
                                matInput placeholder="Identificacion" 
                                type="text" name="identificacion" 
                                autocomplete="off"
                                #identificacion 
                                [(ngModel)] = "cita.paciente.identificacion" 
                                (change)="consultaPaciente()"
                                
                                >
                              </mat-form-field>
                            </div>
                            <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nombres y Apellidos del paciente" name="nombres" [(ngModel)] = "cita.paciente.nombres" readonly >
                                </mat-form-field>
                            </div>
                        </div>
                        <hr>
                        
                        <div class="row" *ngIf="cita.paciente.nombres !== null" >
                          <div class="col-12">
                            <mat-form-field appearance="fill">
                              <mat-label>Seleccione un doctor</mat-label>
                              <mat-select  [compareWith]="compareDoctor" [(ngModel)]="cita.doctor"   name="doctor"  required>
                                <mat-option>Seleccion una opción</mat-option>
                                <mat-option  *ngFor="let d of doctores;" [value] = "d" >
                                  {{ d.nombres }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            

                          </div>
                        </div>

                        <div class="row" *ngIf="cita.paciente.nombres !== null">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width mat-form-field-infix1">
                                <input matInput [matDatepicker]="picker" placeholder="Seleccione una fecha" name="eventDate" [(ngModel)]="cita.fecha " #eventDate="ngModel"
                                  readonly required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              
                            </div>
                            
                        </div>
                        
                        <div class="row" *ngIf="cita.paciente.nombres !== null">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput  
                                  placeholder="Hora de inicio" 
                                  aria-label="Hora de inicio" 
                                  [ngxTimepicker]="hora_inicio" 
                                  [format]="24" 
                                  name="horaInicio" 
                                  #horaInicio 
                                  [(ngModel)]="cita.horaInicio"
                                  readonly
                                  required>
                                  
                                <ngx-material-timepicker #hora_inicio></ngx-material-timepicker>
                              </mat-form-field>

                              
                            </div>

                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput  
                                  placeholder="Hora de finalización" 
                                  aria-label="Hora de finalización" 
                                  [ngxTimepicker]="hora_fin" 
                                  [format]="24" 
                                  name="horaFin" 
                                  #horaFin 
                                  [(ngModel)]="cita.horaFin"
                                  readonly
                                  required>

                                <ngx-material-timepicker #hora_fin></ngx-material-timepicker>
                              </mat-form-field>

                              
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" 
      (click)="activeModal.dismiss('Cross click')" >
        Close</button>

    <button type="submit" class="btn btn-info" 
       [disabled] ="cita.paciente.nombres === null">
      OK
    </button>
  </div>

</form>
  