<div class="main-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/favicon.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <form #loginForm [formGroup] ="form" (ngSubmit)="loguear()" >
                            <h4 class="card-title">Inicio de sesión</h4>
                            <p class="card-description">
                                <mat-form-field appearance="fill">
                                    <mat-label>Usuario</mat-label>
                                    <input matInput formControlName="email" autocomplete="off" >
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Enter your password</mat-label>
                                    <input matInput [type]="passwordHide ? 'password' : 'text'"  formControlName="password">
                                    <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                                    <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                
                            </p>

                        
                            <button type="submit" class="btn btn-info btn-round" >
                            Ingresar</button>
                        </form>


                        

                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
  </div>
  