.d_container_gen{
    position: relative;float: left;
}

.d_container_gen > .number{
    text-align: center;
    font-size: 12px;
}

.d_container {
    width: 35px;
    height: 35px;
    position: relative;
    float: left;
}

.d_container > svg{
    position: absolute;        
}



/* COLORS */
.d_fill_color {
    stroke: #A6ACAF;
    fill: #A6ACAF;
}
.caries{
    stroke: red;
    fill: red;
}