<div  class="d_container_gen mr-1 ml-1">
    <div class="d_container" >
        <svg
            viewBox="0 0 135 135">
            <path 
            [class]="(diente.vestibular !== undefined ) ? diente.vestibular : 'd_fill_color'" 
            id="path2709" style="stroke-width:34.9999;stroke-miterlimit:4;stroke-dasharray:none"
            d="m 33.997165,32.188799 a 47.942116,47.942134 0 0 1 33.900193,-14.04193 47.942116,47.942134 0 0 1 33.900592,14.04231" />
            </svg>
        <svg viewBox="0 0 135 135" >
                <path [class]="(diente.mesial !== undefined ) ? diente.mesial : 'd_fill_color'" 
                    id="path2714" style="fill:#e6e6e6;stroke-width:34.9999;stroke-miterlimit:4;stroke-dasharray:none" 
                    d="m 102.85628,33.247513 a 47.942116,47.942134 0 0 1 14.04154,33.89982 v 0 A 47.942116,47.942134 0 0 1 102.8559,101.04749" />
            </svg>
        
        <svg viewBox="0 0 135 135" >
            <path 
                [class]="(diente.palatino !== undefined ) ? diente.palatino : 'd_fill_color'" 
                id="path2719" style="fill:none;stroke-width:34.9999;stroke-miterlimit:4;stroke-dasharray:none" 
                d="M 101.79755,102.10583 A 47.942116,47.942134 0 0 1 67.897358,116.14775 47.942116,47.942134 0 0 1 33.997163,102.10583" />
            </svg>

        <svg viewBox="0 0 135 135" >
            <path 
                [class]="(diente.distal !== undefined ) ? diente.distal : 'd_fill_color'" 
                id="path2724" style="fill:none;stroke-width:34.9999;stroke-miterlimit:4;stroke-dasharray:none" 
            d="M 32.938829,101.04748 A 47.942116,47.942134 0 0 1 18.89691,67.147333 47.942116,47.942134 0 0 1 32.938831,33.247133" />
        </svg>

        <svg
            viewBox="0 0 135 135">
        <ellipse
            [class]="(diente.oclusal !== undefined ) ? diente.oclusal : 'd_fill_color'" 
            style="stroke-width:0.241305;stroke-miterlimit:4;stroke-dasharray:none"
            id="path2759"
            cx="67.897362"
            cy="67.147331"
            rx="29.879349"
            ry="29.879347" />
        </svg>
    </div>

    <div class="number"> {{diente.numero}} </div>
</div>